:root{ 
    --accent-color: #4d5fe5; 
    --accent-color-hover: #404BBF;
    --primary-text-color-theme-light: #2e2f42;
    --primary-text-color-theme-dark:#ffff;
    --secondary-text-color-theme-light: #434455;
    --secondary-text-color-theme-dark: #e7e9fc;    
    --background-color-body-theme-light: #ffff;
    --background-color-body-theme-dark:#2E2F42;
    --additiomal-color: #F4F4FD;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color-theme-light);
    background-color: var(--background-color-body-theme-light);
}
h1,
h2,
h3,
h4,
p{
    margin-top: 0;
    margin-bottom: 0;
}
ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
.list {
    list-style: none;
}
.link{
    text-decoration: none;
    color: none;
}
.container{  
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width:480px) {
    .container{
        width: 426px;  
    }    
}
@media screen and (min-width:768px) {
    .container{
        width: 766px;
    }    
}
@media screen and (min-width:1200px) {
    .container{
        width: 1158px;
    }    
}
@media screen and (max-width: 479px) {
    .container{
        
        width: 240px;
      }
    }
.section{
    padding-top: 96px;
    padding-bottom: 96px;
}
@media screen and (min-width:1200px){
    .section{
        padding-top: 120px;
        padding-bottom: 120px; 
    }    
}
/*==========COMPONENTS==========*/
/*text styles*/
.title{
    width: 320px;
    font-size: 36px;  
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 48px;
}
@media screen and (min-width:768px){
    .title{
        font-size: 56px;
        line-height: 1.07;
        width: 496px;
        margin-bottom: 40px;
     }
}
@media screen and (min-width:1200px){
    .title{          
        margin-bottom: 48px; 
    }   
}
@media screen and (max-width: 479px) {
    .title{
        width: 210px;
        font-size: 23px;
      }
    }
.heading{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;    
}
.subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;        
}
@media screen and (min-width:1200px){
    .subtitle{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
} 
.subtitle-link{
    color: var(--primary-text-color-theme-light);
}
.subtitle-footer{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
    margin-bottom: 16px; 
}
@media screen and (min-width:768px){
    .subtitle-footer{
        text-align:start;
    }
}
.text-body{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light); 
}
@media screen and (min-width:1200px){
    .text-body{
        font-weight: 400;
    }
} 
.text-center{
    text-align: center;
}
/*buttons*/
.modal-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.07;
    width: 169px;
    height: 56px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-text-color-theme-dark);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin:0 auto;
    display: block;
    transition: background-color var(--timing-function)
}
.modal-btn:hover,
.modal-btn:focus{
    background-color: var(--accent-color-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-btn-footer{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.07;
    padding: 8px 24px; 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-text-color-theme-dark);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin:0 auto;
    display: flex;
    align-items: center;
    gap: 16px; 
    border: none;
    transition: background-color var(--timing-function);  
}
.modal-btn-footer:hover,
.modal-btn-footer:focus{
    background-color: var(--accent-color-hover);  
}
.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color var(--timing-function), fill var(--timing-function);
}
.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: var(--accent-color-hover);
}
.modal-close-btn-icon{
    transition: fill var(--timing-function);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon{
    fill: var(--primary-text-color-theme-dark);
}
.mobile-menu-open{
    background: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}
@media screen and (min-width:768px) {
    .mobile-menu-open{
        display: none;
    }
}
/*logo*/
.logo-text-part-one{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}
@media screen and (min-width:1200px) {
    .logo-text-part-one{
        line-height: 1.33;
    }    
}
.logo-text-part-two-theme-light{
    color: var(--primary-text-color-theme-light);
}
.logo-text-part-two-theme-dark{
    color: var(--additiomal-color)
}
/*/logo*/
/*==========EMPLOYEES==========*/
.employees{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
}
.employees-card-filtres:not(:nth-child(5n)){
    margin-right: 24px;
}
/*==========EMPLOYEES==========*/
/*==========HEADER==========*/
.page-header{
    padding-top: 24px;
    padding-bottom: 28px;
    border-bottom: 1px solid var(--secondary-text-color-theme-dark);
}
@media screen and (min-width:768px){
    .page-header{
        padding-bottom: 10px;       
    }
}
@media screen and (min-width:1200px){
    .page-header{
        padding-bottom: 27px;       
    }
}


.page-header-container{
    display: flex;
    justify-content: space-between;

}


.page-nav{
    display: flex;

}
.logo-header{
    margin-right: 0px;
}
@media screen and (min-width: 768px){
    .logo-header{
        margin-right: 120px;
    }  
}
@media screen and (min-width: 1200px){
    .logo-header{
        margin-right: 76px;
    }  
}

.menu{
    display: flex;
}
@media screen and (max-width:767px) {
    .menu{
        display: none;
    }   
}
.menu-item:not(:last-child){
    margin-right: 40px;
}
.menu-link{
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    color: var(--primary-text-color-theme-light); 
    transition: color var(--timing-function);  
}
.memu-link-active{
    color: var(--accent-color-hover);
}
.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color-hover);
}
.menu-link::after,
.memu-link-active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom:-31px; 
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color-hover);
    border-radius: 2px;   
}
.menu-link::after{
    opacity: 0;
    transition: opacity var(--timing-function);  
}
.memu-link-active::after{
    opacity: 1;
}
.menu-link:hover::after,
.menu-link:focus::after{
    opacity: 1;   
}

.contact{
    display: none;
}
@media screen and (min-width:768px) {
    .contact{
        display: flex;
        margin-left: auto;
        flex-direction: column;
        gap: 4px;

    }     
}
@media screen and (min-width:1200px) {
    .contact{
        flex-direction: row;
        gap: 40px;

    }     
}


.contact-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 0.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
    cursor: default;
    transition: color var(--timing-function);
}
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color-hover);
}
/*mobile-menu*/
.mobile-menu{
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--background-color-body-theme-light) ;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--timing-function), visibility var(--timing-function);
}
.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;  
}
.modal-close-btn-mobile{
    top: 40px;
    right: 40px;
}
.menu-mobile-list{
    padding-top: 80px;
    flex-grow: 1;
}
.menu-mobile-item:not(:last-child){
    padding-bottom: 40px;
}
.menu-mobile-link{
    position: relative;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    color: var(--primary-text-color-theme-light); 
    transition: color var(--timing-function);  
}
.memu-mobile-link-accent{
    color: var(--accent-color);
}
.menu-mobile-link:hover,
.menu-mobile-link:focus{
    color: var(--accent-color-hover);
}
.contact-menu{
    margin-bottom: 50px; 
}
.contact-menu-item:not(:last-child){
    margin-bottom: 40px;    
}
.contact-menu-link{
    font-weight: 600;
    font-size: 36px;
    line-height: 0.9;    
    color: var(--accent-color);
    cursor: default;
    transition: color var(--timing-function);
}
.contact-menu-link:hover,
.contact-menu-link:focus{
    color: var(--accent-color-hover);
}  
@media screen and (max-width: 479px) {
    .contact-menu-link {
        font-size: 25px;
      }
    }      
.contact-email-menu-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 0.83;
    line-height: 40px;
    color: var(--secondary-text-color-theme-light);
    cursor: default;
    transition: color var(--timing-function);
}
.social-list-menu{
    display: flex;
    gap: 56px;
    justify-content: start;
}
@media screen and (max-width:479px){
    .social-list-menu{    
        gap: 30px;        
    }  
}

/*==========/HEADER==========*/
/*==========HERO==========*/
.hero{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #2E2F42;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),  url("../images/hero/people-office-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width:767px),
  screen and (min-resolution: 192dpi) and (max-width:767px),
  screen and (min-resolution: 2dppx) and (max-width:767px){
  .hero {
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
     url('../images/hero/people-office-mobile@2x.jpg');
  }
}


@media screen and (min-width: 768px) {
  .hero {
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
      url('../images/hero/people-office-tablet.jpg');
  }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
  screen and (min-resolution: 192dpi) and (min-width:768px),
  screen and (min-resolution: 2dppx) and (min-width:768px) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
      url('../images/hero/people-office-tablet@2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    .hero {
      background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
        url('../images/hero/people-office-desktop.jpg');
    }
}
  
    @media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
      .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url('../images/hero/people-office-desktop@2x.jpg');
      }
    }








  
@media screen and (min-width: 768px){
    .hero{ 
        padding-top: 112px;
        padding-bottom: 108px
    }
}
@media screen and (min-width: 1200px){
    .hero{ 
        padding-top: 187px;
        padding-bottom: 188px
    }
}
/*==========/HERO SECTION==========*/
/*==========ADVANTADES==========*/

.employees-card-advantades:not(:last-child){
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .employees-card-advantades:nth-child(2n+1){
        margin-right: 24px;}
    .employees-card-advantades{
        margin-bottom: 72px;}    
}
@media screen and (min-width:1200px) {
    .employees-card-advantades:not(:nth-child(4n)){
        margin-right: 24px;}
    .employees-card-advantades:not(:last-child){
        margin-bottom: 0px;}   
}
.employees-card-advantades{
    width: 396px; 
}
.thumb{
    display: none;
} 

@media screen and (min-width:768px) {
    .employees-card-advantades{
        width: 356px; 
    }
    .thumb{
        display: none;
    }    
}
@media screen and (min-width:1200px) {
    .employees-card-advantades{
        width: 264px; 
    } 
    .thumb{
        width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center; 
        background: var(--additiomal-color);
        border-radius: 4px;
        margin-bottom: 8px;
    }   
}
/*==========/ADVANTADES==========*/
/*==========SERVICES==========*/
.services{
    padding-bottom: 120px;
}
.employees-card:not(:nth-child(3n)){
    margin-right: 24px;
}
.employees-card:not(:nth-last-child(-n+3)){
    margin-bottom: 48px;
}
@media screen and (max-width:1199px){
    .services{
        display: none;
    }
}
/*==========/SERVISES========*/
/*==========TEAM==========*/
.employees-card-four{
    
     background: var(--background-color-body-theme-light);
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
     border-radius: 0px 0px 4px 4px;
 }
.employees-card-four:not(:last-child){
    margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
    .employees-card-four:nth-child(2n+1){
        margin-right: 24px;}
    .employees-card-four,
    .employees-card-four:not(:last-child){
        margin-bottom: 64px;}    
}
@media screen and (min-width:1200px) {
    .employees-card-four:not(:nth-child(4n)){
        margin-right: 24px;}
    .employees-card-four,
    .employees-card-four:not(:last-child){
        margin-bottom: 0px;}   
}
.employees-card-content-wraper{
    padding-top: 32px;
    padding-bottom: 32px;   
    border: 1px solid #E7E9FC;;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08); 
}
.team{
    background: var(--additiomal-color);
}
.employees-position{   
    margin-bottom: 8px;
}
.social-list-team{
    display: flex;
    justify-content: center;
    gap: 24px;  
}
.social-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color);
    transition: background-color var(--timing-function);
}
.social-list-link:hover,
.social-list-link:focus{
    background-color: var(--accent-color-hover);
}
.social-list-icon{
    fill: var(--additiomal-color);
}
/*==========/TEAМ=====*/
/*==========CUSTOMERS==========*/
.customers-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 16px;
}
.customers-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 88px;
    fill: #8E8F99;    
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: border var(--timing-function), fill var(--timing-function);
}
.customers-list-link:hover,
.customers-list-link:focus{
    border: 1px solid var(--accent-color-hover);
    fill: #404BBF;
}
@media screen and (min-width:1200px){
    .customers-list-link{
        width: 168px;
        height: 88px; 
    }
}
/*==========/CUSTOMERS==========*/
/*==========FOOTER=======*/
.footer{
    color: var(--secondary-text-color-theme-dark);
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--background-color-body-theme-dark);
}
@media screen and (min-width:1200px){
    .footer{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.footer-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
}
@media screen and (min-width:768px){
    .footer-wrap{
        justify-content: start;
    }
}
@media screen and (min-width:1200px){
    .footer-wrap{
        flex-wrap: nowrap;
    }
}

.logo-footer{
    text-align: center;
}
@media screen and (min-width:768px){
    .logo-footer{
        text-align:start;    
    }
}
.footer-part-one{
    width: 268px;    
}
@media screen and (min-width:768px){
    .footer-part-one{
        width: 264px;
        margin-right: 24px; 
    }
}
@media screen and (min-width:1200px){
    .footer-part-one{      
        margin-right: 120px; 
    }
}
.text-footer{
    margin-top: 16px; 
}
.footer-part-two{
    width: 208px;    
}
@media screen and (min-width:1200px){
    .footer-part-two{
        margin-right: 24px;
    }
}
@media screen and (min-width:1200px){
    .footer-part-two{
        margin-right: 80px;
    }
}
.text-theme-dark{
    color: var(--secondary-text-color-theme-dark);
}
.social-list-footer{
    display: flex;
    justify-content: center;
    gap: 16px;  
}
.social-list-link-dark{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--timing-function);
}
.social-list-link-dark:hover,
.social-list-link-dark:focus{
    background-color: #31D0AA;
}
.footer-form{
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    gap: 16px; 
}
@media screen and (min-width:1200px){
    .footer-form{
        flex-wrap: nowrap;
    }
}

@media screen and (min-width:768px){
    .footer-field{
        margin-bottom: 0px;
        margin-right: 24px;
    }
}


.footer-input{
    width: 398px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent; 
    transition: border-color var(--timing-function);
    padding: 0 16px;
    outline: none;
    font-size: 12px;
}
.footer-input:focus{   
    border-color: var(--accent-color);
}
@media screen and (min-width:768px){
    .footer-input{
        width: 264px;
    }
}
@media screen and (max-width:479px){
    .footer-input{
        width: 230px;
    }
}
/*==========/FOOTER==========*/
/*==========PORTFOLIO=======*/
.portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-card-link{ 
    display: block;
    width: 100%;
    height: 100%;
    background: var(--background-color-body-theme-light);
    transition: box-shadow var(--timing-function);  
}
.portfolio-card-link:hover,
.portfolio-card-link:focus{    
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-img-wrapper{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    transform: translate(0,100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
}
.portfolio-card-link:hover .overlay,
.portfolio-card-link:focus .overlay{
    transform: translate(0,0);
}
/*==========/PORTFOLIO=======*/
/*==========PORTFOLIO FILTRES=======*/
.filtres{   
    margin-bottom: 72px; 
}
.filtres-btn{
    color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background: var(--additiomal-color);
    border: 1px solid var(--secondary-text-color-theme-dark);
    border-radius: 4px; 
    padding: 12px 24px;
    transition: color var(--timing-function), background-color var(--timing-function), box-shadow var(--timing-function);
}
.filtres-btn:hover,
.filtres-btn:focus{
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid #E7E9FC;   
}
/*==========/PORTFOLIO FILTRES========*/
/*==========MODAL WINDOV/==========*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;   
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 392px;
    height: 586px;   
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--timing-function);
    padding: 72px 16px 24px 16px;
    margin-top: 96px;
}
@media screen and (min-width:768px){
    .modal{
        width: 408px;       
        padding: 72px 24px 24px 24px;      
    }
}
@media screen and (min-width:1200px){
    .modal{        
        height: 584px;
        margin-top: 80px;    
    }
}
/*==========MODAL WINDOV/==========*/
/*==========MODAL FORM/==========*/
.form-title{    
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light)
}
.modal-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-form-field{
    margin-bottom: 8px;
}
.modal-form-input-wrap{
    display: block;
    position: relative;
}
.modal-form-input-desc{
    display: block;
    font-size: 12px;
    line-height: 1.33; 
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px; 
}
.modal-form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
    transition: border-color var(--timing-function); 
}
.modal-form-input-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0,-50%);
    transition: fill var(--timing-function);
}
.modal-form-input:focus{
    outline: none;
    border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-input-icon{
    fill: var(--accent-color);
}
.modal-form-message{
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
    border-radius: 4px;
    transition: border-color var(--timing-function);
}
.modal-form-message::placeholder{
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus{
    outline: none;
    border-color: var(--accent-color);
}
.modal-form-chek-desc::before{ 
    display: block; 
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    content: '';
    cursor: pointer;
    transition: fill var(--timing-function), background-color var(--timing-function), box-shadow var(--timing-function);
}
.modal-form-chek:checked + .modal-form-chek-desc::before{   
    background-color: var(--accent-color);
    background-image: url(../images/vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.modal-form-chek:focus + .modal-form-chek-desc::before{
   box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #000000;  
}
.modal-form-chek-desc{
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    margin-bottom: 24px;
}
.user-policy-link{
    color: var(--accent-color);
}
/*==========/MODAL FORM/==========*/
